body {
    background: var(--tg-theme-secondary-bg-color, white);
}

.status-pending {
    color: var(--tg-theme-hint-color);
}

.status-confirmed {
    color: var(--tg-theme-button-color);
}

.status-cancelled {
    color: var(--tg-theme-destructive-text-color);
}